---
import { db, Order } from "astro:db";

const orders = await db.select().from(Order);
---

<div class="flex flex-col">
  {
    orders.map(({ fname, lname, email, phno, address, pincode, paid }) => (
      <div class="border-2">
        <h1>
          {fname} {lname}
        </h1>
        <h1>{email}</h1>
        <h1>{phno}</h1>
        <h1>{address}</h1>
        <h1>{pincode}</h1>
        <h1>{paid ? "yes" : "no"}</h1>
      </div>
    ))
  }
</div>
