---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";

import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import BlogCard from "../../components/BlogCard.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en" class="w-full">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="font-assistant w-full">
    <br />
    <br />
    <Header title={SITE_TITLE} />
    <br />
    <br />
    <main class="w-full flex flex-col">
      <br />
      <h1 class="text-3xl font-virgil">The Blog Posts</h1>
      <br />
      <br />
      <h3 class="text-xl font-virgil text-red-400">ML</h3>
      <br />
      <ul class="flex flex-col gap-5 w-full text-sm md:text-base">
        { posts.map((post) => (post.data.type === "ML"? <BlogCard post={post}/>:<></>)) }
      </ul>
      <br />
      <h3 class="text-xl font-virgil text-red-400">Web Dev</h3>
	  <p class="italic">
	  originally posted on <a class="underline" href="https://dev.to/lucidmach">dev.to</a>
	  </p>
      <br />
      <ul class="flex flex-col gap-5 w-full text-sm md:text-base">
        { posts.map((post) => (post.data.type === "Dev"? <BlogCard post={post}/>:<></>)) }
      </ul>
      <br />
      <br />
      <br />
      <h1 class="text-3xl font-virgil">Who Am I?</h1>
      <br />

      <section class="font-virgil prose prose-invert">
        👋 hieeeeeeee!
        <br />
        my name is <a
          class="hover:cursor-pointer text-red-400"
          href="https://lucidmach.tech">suraj nukala</a
        >
        <img class="rounded-lg" src="/LucidMach.jpg" alt="" />
        i constantly teach myself "to build stuff that i think will blow my mind"
        and on the internet i call myself the
        <a
          class="hover:cursor-pointer text-red-400"
          href="https://lucidmach.tech"
          >lucidmach
        </a>
        <br />
        <br />
        this time i decided to blog out my learnings as i learn and build some really
        cool stuff along the way
        <br />
        <br />
        pretty sure you know the rest 😉
      </section>
    </main>
    <Footer />
  </body>
</html>
