---
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";

import { getCollection } from "astro:content";
import Menu from "../../components/Menu";
import ProjectCard from "../../components/ProjectCard";

const projects = (await getCollection("projects")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

// Group by year
const projectsByYear = projects.reduce(
  (acc, project) => {
    const year = project.data.pubDate.getFullYear();
    if (!acc[year]) {
      acc[year] = [];
    }
    acc[year].push(project);
    return acc;
  },
  {} as Record<number, any[]>,
);

const years = Object.keys(projectsByYear)
  .map(Number)
  .sort((a, b) => b - a);
---

<!doctype html>
<html lang="en" class="w-full">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="font-assistant w-full">
    <div class="flex flex-col w-full items-center gap-16">
      <Menu
        singleClickMode
        currentActive={2}
        currentColorIndex={2}
        client:visible
      />
      <div class="flex flex-col items-center mb-8 mt-4 text-[#1a1a1a]">
        <h1
          class="font-virgil mt-2 text-center text-lg md:text-2xl opacity-80 max-w-xl mx-auto"
        >
          As someone who sees life as a series of projects... this is my attempt
          to document as many of them as I can
        </h1>
      </div>
    </div>
    <main
      class="w-full flex flex-col items-center px-4 md:px-12 mt-12 overflow-hidden"
    >
      {
        years.map((year) => (
          <section class="w-full max-w-7xl mb-24 relative">
            <h2 class="text-4xl md:text-6xl text-center font-virgil text-yellow-400 mb-12 pl-4">
              {year}
            </h2>

            <div class="flex flex-wrap gap-12 justify-center pb-8 pt-4">
              {projectsByYear[year].map((project, index) => (
                <ProjectCard project={project} index={index} />
              ))}
            </div>
          </section>
        ))
      }
    </main>
    <Footer />
  </body>
</html>
